.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 90px;
  color: #333;
}
.logo{
  width: 90px;
  height: 90px;
}
.navegacao{
  display: flex;
}
.navegacao > li{
  margin-left: 8px;
}
.navegacao > li > a {
  color: #333;
  cursor: pointer;
}